body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d539f;
}

h2 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    margin: 10px 0;
}

#map {
    height: 95vh;
    width: 100%;
}