<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />

    <!-- Leaflet Map CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <link lang='sass' rel="stylesheet" href="./static/styles/map.css">

    <title>{{ title }}</title>
</head>

<body>
    <h2>Places I've Visited</h2>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script>
        // Initialize map
        var map = L.map('map', {
            minZoom: 2,
            maxZoom: 100
        }).setView([20, 0], 2);

        // Set up the tile layer
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);


        // Add markers
        var locations = {{ locations | tojson }};

        locations.forEach(loc => {
            let popupContent = `<div style="text-align:center;"><b>${loc.name}</b><br/>`;

            loc.images.forEach(img => {
                popupContent += `<img src="/static/img/${img}" alt="${loc.name}" style="width:50px; height:50px; margin:5px; border-radius: 10px;" />`;
            });

            L.marker([loc.lat, loc.lon])
                .addTo(map)
                .bindPopup(popupContent);
        });
    </script>
</body>

</html>