{% extends "base.html" %}

{% block content %}
<div class="map-header">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
</div>

<div class="places-container">
    {% for place in places %}
    <div class="place-card">
        <div class="slideshow-container">
            {% for image in place.images %}
            <div class="slide" style="animation-delay: {{ loop.index0 * 5 }}s;">
                <img src="{{ image }}" alt="{{ place.title }} image">
            </div>
            {% endfor %}
        </div>
        <div class="place-details">
            <h2>{{ place.title }}</h2>
            <p>{{ place.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="map-container">
    <iframe class="map" src="{{ url_for('static', filename='maps/map.html') }}"></iframe>
</div>

{% endblock %}